.header {
    margin: auto;
    display: flex;
    width: 540px;
    height: 100px;
    background-color: lightblue;
    justify-content: flex-start;
    align-items: center;
}

.footer {
    margin: auto;
    display: flex;
    width: 540px;
    height: 100px;
    background-color: blue;
    justify-content: flex-end;
    align-items: center;
}


.container {
    display: flex;
    width: 540px;
    height: 500px;
    background-color: white;
    margin: auto;
    justify-content: space-between;
}

.left {
    background-color: orange;
    width: 100px;
}

.main {
    display: flex;
    background-color: red;
    width: 300px;
    justify-content: flex-end;
}

.black {
    background-color: black;
    width: 60px;
    height: 60px;
    margin: 7px;
    align-self: flex-end;
    
}

.right {
    background-color: purple;
    width: 100px;
    justify-content: flex-end;
    
}