* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    padding: 50px;
}

.item {
    flex: 0 0 190px;
    height: 190px;
}

.green {
    background-color: #51D400;
}

.yellow {
    background-color: #FFD62A;    
}

.purple {
    background-color: #B02AFF
}