* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 400px;
    height: 600px;
}

.item {
    width: 100%;
}

.green {
    background-color: #51D400;
    flex: 1;
}

.yellow {
    background-color: #FFD62A; 
    flex: 2;
}

.purple {
    background-color: #B02AFF;
    flex: 1;
}