body {
    background-color: #2F3060;
    font-size: 20px;
    /* font-weight: 400; */
    /* text-rendering: optimizeLegibility; */
    /* vertical-align:middle; */
}

.container {
    text-transform: uppercase;
    margin: 40px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
    
}

.button {
    margin: 40px auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 30px;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    color: #ddd;
    justify-content: center;
    align-items: center;
    

}

.button:hover {
    filter: brightness(120%)
}

.button:active {
    filter: brightness(80%)
}


.blue {
    background-color: #49579e;
    box-shadow: 0 5px 0 #363899, 2px 7px 5px #181938;
}

.green {
    background:green;
    box-shadow:  0 5px 0 rgb(1, 110, 1), 2px 7px 5px #181938;
}

.red {
    background-color: #dd281b;
    box-shadow: 0 5px 0 #9c322f, 2px 7px 5px #181938;
}