body {
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#cccccc 51%,#f6f6f6 100%);;
    padding: 50px;
    margin: 0px;
}

.container {
    display: flex;
    margin: auto;
    width: 900px;
    height: 500px;
    justify-content: space-between;
}

.left {
    background-color: gray;
    width: 50px;
}

.main {
    display: flex;
    background-color: gray;
    width: 800px;

}
.photoholder {
    background-color: purple;
    /* width: 60px;
    height: 60px; */
    margin: 7px;
    align-self: flex-end;
    
}

.right {
    background-color: gray;
    width: 50px;
    
}

.footer {
    display: flex;
    margin: auto;
    width: 540px;
    height: 100px;
    align-items: center;
}
.box {
    display: flex;
    justify-content: center;
    width: 700px;
    /* height: ; */
    /* display: flex; */
    margin: auto;
    /* width: 700px; */
    /* justify-content: space-between; */
    
    
}
.square {
    flex-direction: row;
    height: 80px;
    width: 80px;
    /* flex: 1 1 auto; */
    flex-basis: 80px;
    margin: 5px;
    background-color: black;
}