/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0; */
/* } */

.container {
    margin: 50px;
    width: 755px;
    height: 280px;
    display: flex;
    background-color: #FFD62A;
    justify-content: center;
    align-items: center;
}

.purple {
    background-color: #B02AFF;
    order: 2;
    width: 106px;
    height: 106px;
    align-items: center;
}